$color: #3c3c3c;
$color-light: #ffffff;
$color-gray: #bebebe;
$color-dark: #1c1c1c;
$color-darkgray: #797979;
$color-primary: #3E5B84;
$color-secondary: #d69c50;
$color-tertiary: #3E5B84;
$color-quaternary: #3E5B84;
$color-quinary: #3E5B84;
$color-info: #296ece;
$color-red: #702222;
$color-blue: #296ece;
$color-green: #279b3b;

$font-family: "lato";
$font-size: 1rem;

$breakpoint-xs: 540px;
$breakpoint-sm: 630px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1360px;

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    /* Target the calendar icon */
    // background-color: $color-primary;
// }

// input[type="datetime-local"]::-webkit-datetime-edit-hour-field,
// input[type="datetime-local"]::-webkit-datetime-edit-minute-field,
// input[type="datetime-local"]::-webkit-datetime-edit-ampm-field{
//     /* Target the hour, minute, and AM/PM fields when they are focused */
//     background-color: $color-primary !important;
// }

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-color: #fff;
    color: #bd3a3a;
}

#device-image-uploader {
    width: 100%;
    height: 100%;
    min-height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        border: 1px solid darken($color-primary, 10%);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .action-container {
        display: flex;
        gap: 1rem;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.3s ease;
        &:hover {
            opacity: 1;
        }
        .btn-icon {
            color: $color-light;
            font-size: 20px;
            line-height: 40px;
            background-color: $color-primary;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            &.action-upload {
                background-color: $color-info;
                &:hover {
                    background-color: darken($color-info, 10%);
                }
            }
            &.action-remove {
                background-color: $color-red;
                &:hover {
                    background-color: darken($color-red, 10%);
                }
            }
        }
    }
}

.device-page-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: -50px;
    font-family: 'Lato' !important;
    font-size: 12px;
    line-height: 12px;

    .hidden {
        opacity:0;
    }
    .badge {
        background-color: rgb(187, 26, 5);
        font-family: 'Roboto';
        font-size: .6rem;
    }

    .avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        flex-grow: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p {
        line-height: 12px !important;
        margin-bottom: 15px;
    }

    .text-second {
        color: $color-secondary !important;
    }

    .text-gray {
        color: $color-gray !important;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    .text-right {
        text-align: right;
    }

    .text-bold {
        font-weight: bold;
    }

    .btn-normal {
        background-color: $color-primary !important;
        color: $color-light !important;
        border: none;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.3s ease;
        font-size: 8px;
        &:hover {
            background-color: darken($color-primary, 10%);
            color: $color-light;
        }
    }

    .btn-second {
        background-color: $color-secondary !important;
        color: $color-light !important;
        border: none;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.3s ease;
        font-size: 11px;
        &:hover {
            background-color: darken($color-secondary, 10%);
            color: $color-light;
        }
    }

    .btn-gray {
        background-color: #1c1c1c;
        border: none;
        &:hover {
            background-color: #303030;
            border: none;
        }
    }

    .btn:disabled {
        background-color: $color-gray !important;
        color: $color-darkgray !important;
        border: 1px solid $color-darkgray !important;
        font-weight: 500 !important;
    }

    .btn-icon {
        background-color: transparent;
        color: #797979;
        padding: 0;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 30px;
        line-height: 25px;
        &:hover {
            color: darken($color-darkgray, 10%);
        }
        &.loading {
            animation: spin 1s linear infinite;
            color: $color-secondary;
            transition: all 0.3s ease;
        }
    }

    .arrow-up:after,
    .arrow-down:after {
        border-color: initial;
        border-style: solid;
        border-width: 0 0 1px 1px;
        content: "";
        height: 0.4em;
        display: inline-block;
        right: 5px;
        top: 50%;
        margin-left: 10px;
        // transform: rotate(-45deg) translateY(-50%);
        transform-origin: top;
        transition: all .3s ease-out;
        width: 0.4em;
        cursor: pointer;
    }

    .arrow-up:after {
        transform: rotate(-45deg) translateY(-50%);
    }

    .arrow-down:after {
        transform: rotate(-135deg) translateY(-50%);
    }

    h3 {
        margin-left: 10px;
        font-size: 15px;
        font-weight: bolder;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    h1 {
        font-size: 35px;
        margin-bottom: 15px;
        font-weight: 100;
        color: $color-primary;
    }

    .subtitle {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .divider-line {
        margin: 0 5px;
        border-bottom: 1px solid lighten($color: black, $amount: 50%);
    }
    
    .paragraph-container {
        padding-left: 30px;
        p {
            line-height: 12px;
            margin-bottom: 15px;
        }
    }

    .category-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 5px;
        top: 260px;
        right: 4vw;
        padding: 0 1rem;
        .category-menu-item {
            text-transform: uppercase;
            font-size: 10px;
            position: relative;
            padding-left: 5px;
            // border-bottom: 2px solid transparent;
            transition: all 0.3s ease;
            cursor: pointer;
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                height: 0;
                width: 2px;
                top: 50%;
                background-color: $color-secondary;
                transition: all 0.3s ease;
            }
            &:hover,
            &.active {
                // border-bottom: 2px solid $color-secondary;
                color: $color-secondary;
                &::after {
                    height: 100%;
                    top: 0;
                }
            }
            &.active {
                font-weight: bold;
            }
            .badge {
                background-color: red;
                font-family: 'Roboto';
                font-size: .6rem;
                position: absolute;
                right: -10px;
                top: 0px;
            }
        }
        @media (max-width: 1460px) {
            right: 2vw;
        }
        @media (max-width: 1400px) {
            right: 5px;
        }
        // @media (max-width: $breakpoint-xl) {
        @media (max-width: 999999px) {
            // visibility: hidden;
            display: flex;
            position: relative;
            width: 100%;
            flex-direction: row;
            justify-content: space-around;    
            border-bottom: 2px solid $color-gray;
            // top: -30px;
            top: 0;
            right: 0;
            padding: 0;
            .category-menu-item {
                // font-size: 12px;
                // margin-bottom: -2px;
                font-weight: 500;
                padding: 0.5rem 0;
                &::after {
                    top: auto !important;
                    bottom: 0 !important;
                    left: 50% !important;
                    margin-bottom: -2px !important;
                    width: 0 !important;
                    height: 2px !important;
                }
                &:hover,
                &.active {
                    // border-bottom: 2px solid $color-secondary;
                    color: $color-secondary;
                    &::after {
                        width: 100% !important;
                        left: 0 !important;
                    }
                }
                &.active {
                    font-weight: bold;
                }
                .badge {
                    background-color: red;
                    font-family: 'Roboto';
                    font-size: .6rem;
                    position: absolute;
                    right: -10px;
                    top: 0px;
                }
            }
        }
    }

    .float-sidebar-toggler {
        display: none;
        .btn-toggle {
            background-color: $color-primary;
            color: $color-light;
            border: none;
            width: 40px;
            height: 40px;
            padding: 1rem;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: darken($color-primary, 10%);
            }
        }
        @media (max-width: $breakpoint-lg) {
            display: block;
            position: fixed;
            top: 173px;
            right: 0;
            z-index: 100;
            cursor: pointer;
        }
    }
    
    .container-main {
        flex: 1;
        padding: 0 13px;
        margin-left: -25px;
        font-size: 12px;
        color: $color-primary;
        border-right: 1px solid lighten($color: black, $amount: 50%);
        overflow-wrap: anywhere;

        @media (max-width: $breakpoint-lg) {
            margin-left: 0;
            padding: 0;
            border: none;
        }

        .device-container {
            background: $color-light;
            padding: 10px 20px;
            padding-bottom: 7px;
            border: 1px solid lighten($color: $color-gray, $amount: 15%);
            border-radius: 20px;
            font-size: 10px;
            // box-shadow: #1c1c1c 0px 0px 5px 0px;
            .device-header {
                margin-bottom: 15px;
                .device-header-title {
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                }
                .device-header-actions {
                    display: flex;
                    gap: 1rem;
                    .btn {
                        background: $color-primary;
                        color: $color-light;
                        border: none;
                        padding: .5rem 1rem;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        &:hover {
                            background: darken($color-primary, 10%);
                        }
                    }
                }
                .device-header-info {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 0 11px;
                    gap: 1rem;
                    .device-info-action {
                        .btn {
                            font-size: 25px !important;
                        }
                    }
                    .device-info-action {
                        margin-left: -14px;
                        margin-top: 2px;
                    }

                    .device-info-item {
                        display: flex;
                        flex-direction: column;
                        flex: 1 0;
                        width: fit-content;
                        &.device-select {
                            background-color: #e2d6ca;
                            border: none;
                            padding: 8px;
                            border-radius: 5px;
                            align-items: center;
                            height: 30px;
                            max-width: 150px;
                            flex: 1 1 150px;
                            color: gray;
                            &::selection {
                                color: gray;
                            }
                            &.device-type {
                                max-width: 130px;
                                flex: .5 0 75px;
                            }
                        }
                        .device-info-item-title {
                            color: $color-primary;
                            font-size: 10px;
                            font-weight: bold;
                            width: max-content;
                        }
                        .device-info-item-value {
                            color: $color-primary;
                            width: max-content;
                            font-size: 10px;
                        }
                    }
                    @media (max-width: $breakpoint-xs) {
                        flex-direction: column;
                        width: 100%;
                        padding: 0;
                        .device-info-item {
                            flex: 1 1 100% !important;
                            width: 100%;
                            &.device-select {
                                flex: 1 1 100% !important;
                            }
                            &.device-type {
                                flex: 1 1 100% !important;
                            }
                        }
                    }
                }
            }
            .device-body {
                display: flex;
                justify-content: space-between;
                transition: all 0.3s ease;
                &.hide {
                    // opacity: 0;
                }
                &.show {
                    opacity: 1;
                }
                .device-subtitle {
                    font-size: 11px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .device-summary {
                    flex: 0 0 150px;
                    padding: 0 10px;
                    border-right: $color-darkgray 1px solid;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 5px;
                    .device-summary-item {
                        text-align: left;
                        position: relative;
                        .arrow-down {
                            position: absolute;
                            left: 0;
                            transform: translate(calc(-100% - 5px), -1px);
                        }
                        .device-location-selector {
                            // position: absolute;
                            left: 0;
                            // transform: translate(calc(-100% - 5px), -1px);
                            // background-color: #e2d6ca;
                            border: none;
                            // padding: 0;
                            // border-radius: 5px;
                            align-items: center;
                            // max-width: 150px;
                            // flex: 1 1 150px;
                            // color: gray;
                            font-size: 10px;
                            line-height: 10px;
                            // height: 13px;
                            padding: 10px;
                            transform: translate(-10px, -10px);
                            color: $color-primary;
                            appearance: none;
                            background: transparent;
                            text-transform: uppercase;
                            &:focus {
                                outline: none;
                            }
                            cursor: pointer;
                            option {
                                padding: 10px;
                                line-height: 30px;
                                &:hover {
                                    background: $color-primary;
                                    color: $color-light;
                                }
                                &:checked {
                                    background: $color-primary;
                                    color: $color-light;
                                    padding: 10px !important;
                                }
                            }
                            &::selection {
                                color: gray;
                                opacity: 0;
                            }
                        }
                    }
                }
                .device-context {
                    display: flex;
                    justify-content: space-between;
                    // align-items: self-end;
                    flex: 1;
                    padding: 0 10px 0 10px;
                    flex-flow: wrap;
                    .device-context-title {
                        margin-bottom: 10px;
                        width: 100%;
                        flex: 1 0 100%;
                    }
                    .device-context-item {
                        flex: 0;
                        width: fit-content;
                        margin: 0 25px;
                        .device-context-item-image {
                            width: 150px;
                            height: 90px;
                            border: 1px solid $color-gray;
                            border-radius: 6px;
                            overflow: hidden;
                            margin-bottom: 7px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .device-context-detail {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        // padding-top: 25px;
                        .device-context-detail-content {
                            margin-right: -10px;
                            flex: 1;
                            font-size: 10px;
                            line-height: 13px;
                            padding-bottom: 10px;
                            margin-bottom: 5px;
                            border-bottom: 1px solid gray;
                            line-break: anywhere;
                        }
                        .device-action-container {
                            justify-content: flex-end;
                            display: flex;
                            align-items: center;
                            margin-right: -15px;
                            gap: 10px;
                        }
                    }
                }
                @media (max-width: $breakpoint-sm) {
                    flex-direction: column;
                    gap: 1rem;
                    .device-summary {
                        border-right: none;
                        padding: 0;
                        flex: 1;
                        gap: 1rem;
                    }
                    .device-context {
                        padding: 0;
                        flex-direction: column;
                        .device-context-item {
                            margin: 0;
                            width: 100%;
                            .device-context-item-image {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
                &.hide {
                    .device-context-item-image,
                    .device-context-detail-title {
                        opacity: 0;
                    }
                }
            }
        }

        .divider-line-arrow {
            border-bottom: 1px solid black;
            margin: 0;
            margin-bottom: 10px;
            // margin-left: -30px;
            // opacity: .5;
            display: flex;
            align-items: center;
            span {
                margin-left: -10px;
            }
            .post-list-arrow {
                transform: translateY(7px) translateX(-15px);
            }
        }

        .device-detail-container {
            display: flex;
            gap: 15px;
            padding: 0 10px;
            padding-bottom: 10px;
            justify-content: space-between;
            .section {
                &.right {
                    flex: 1 0 fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                >.subtitle {
                    margin-bottom: 5px;
                }
        
                .device-info-item {
                    display: flex;
                    margin-bottom: 5px;
                }
                .action-container {
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 15px;
                    gap: 10px;
                }

                .device-info-container {
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                    justify-content: flex-end;
                    margin: 0 auto;
                }

                .divider-line {
                    margin: 0;
                    margin-bottom: 15px;
                    border-bottom: 1px solid lighten($color: black, $amount: 70%);
                }
            }
            @media (max-width: $breakpoint-sm) {
                flex-direction: column;
            }
        }

        .post-list-container {
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 10px;
            padding: 0 10px;
            margin-top: 5px;
            margin-bottom: 20px;
            transition: all .3s ease-in-out;
            height: auto;
            // border-bottom: 1px solid $color-gray;
            // border-bottom: 1px solid #779da3;
            // box-shadow: inset 0 -8px 0px 0px #87b5cb6b;
            // padding-bottom: 20px;
            &.hide {
                height: 0;
                margin: 0;
                // padding-bottom: 0;
                margin-bottom: 10px;
                overflow: hidden;
                border: none;
                box-shadow: none;
            }
            .post-list-divider {
                .bar-1 {
                    width: 100%;
                    height: 20px;
                    background-color: rgb(231,233,236);
                    box-shadow: inset 0 -5px 0px 0px rgb(201,214,225);
                    border-bottom: 2px solid #8f8f8f;
                    margin-top: 20px;
                }
            }
            .post-list-arrow {
                left: -11px;
                top: -11px;
                position: absolute;
            }
            .post-comment-title {
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                width: 100%;
                padding-left: 35px;
                margin-bottom: 0;
            }
            .post-comment {
                display: flex;
                position: relative;
                .form-control {
                    resize: vertical;
                    min-height: 60px;
                    padding-right: 140px;
                }
                .action-container {
                    position: absolute;
                    display: flex;
                    right: 0;
                    bottom: 5px;
                    padding: 15px;
                    height: calc(100% - 10px);
                    border-left: 1px solid lighten($color: $color-gray, $amount: 15%);
                    justify-content: flex-end;
                    button {
                        height: auto;
                        margin-top: auto;
                    }
                }
            }
            h2 {
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                width: 100%;
                margin: 0;
                margin-bottom: 15px;
            }
            .post-list-item {
                display: flex;
                justify-content: space-between;
                .post-content {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .name {
                        font-weight: bold;
                        font-size: 13px;
                    }
                    .text {
                        font-size: 12px;
                    }
                    .time {
                        font-size: 10px;
                        color: $color-gray;
                    }
                    .actions {
                        padding-top: 5px;
                        display: flex;
                        gap: 10px;
                        .action {
                            font-size: 10px;
                            color: $color-gray;
                            height: fit-content;
                            cursor: pointer;
                            line-height: 10px;
                            i {
                                margin-right: 5px;
                            }
                            &:hover {
                                color: darken($color: $color-gray, $amount: 20%)
                            }
                        }
                    }
                    .device {
                        font-size: 10px;
                        color: $color-gray;
                        .device-name {
                            font-weight: bold;
                            color: $color-primary;
                            text-decoration: underline;
                            margin-left: 5px;
                        }
                    }
                    .post-reply {
                        background: $color-light;
                        padding: 10px;
                        border-radius: 5px;
                        box-shadow: #cdcdcd 0px 0px 5px 0px;;
                        margin-top: 5px;
                        .name {
                            display: flex;
                            justify-content: space-between;
                            .time {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }

    }
    .container-sidebar {
        flex: 0 0 350px;
        width: 350px;
        padding: 0 1rem;
        // overflow-x: hidden;
        color: $color-primary;
        position: relative;
        overflow-x: hidden;

        .toggler {
            display: none;
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            transition: all .3s ease-in-out;
            &:hover {
                background: $color-primary;
                color: white;
            }
        }

        .pane-container {
            position: relative;
            // height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            transition: transform .3s cubic-bezier(0, 0, 0.13, 0.95);

            .device-sidebar-pane {
                // position: absolute;
                left: 0;
                width: 100%;
                flex: 1 0 100%;
                opacity: 0;
                transition: all .3s cubic-bezier(0, 0, 0.13, 0.95);
                &.active {
                    opacity: 1;
                }

                // &.pane-order-0 {
                //     transform: translateX(0%);
                // }

                // &.pane-order-1 {
                //     transform: translateX(100%);
                // }

                // &.pane-order-2 {
                //     transform: translateX(200%);
                // }

                // &.pane-order-3 {
                //     transform: translateX(300%);
                // }
            }

            &.pane-position-0 {
                transform: translateX(0%);
            }
            &.pane-position-1 {
                transform: translateX(-100%);
            }
            &.pane-position-2 {
                transform: translateX(-200%);
            }
            &.pane-position-3 {
                transform: translateX(-300%);
            }
        }

        .sidebar-header {
            margin-top: 10px;
            .sidebar-header-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $color-primary;
                h3 {
                    margin: 0;
                    margin-bottom: 5px;
                }
            }
            .sidebar-header-dropdown {
                box-shadow: #3c3c3c 0px 0px 5px 0px;
            }
        }

        .sidebar-items-container {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .sidebar-item {
                // flex: 1 0 200px;
                border-bottom: 1px solid rgb(231, 231, 231);
                padding-bottom: 10px;
                .subtitle {
                    z-index: 999;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    transition: all .3s ease-in;
                    justify-content: space-between;
                    .subtitle-action {
                        font-size: large;
                        margin-right: 5px;
                        transition: all .3s ease-in;
                        &:hover {
                            color: darken($color: $color-primary, $amount: 20%);
                        }
                    }
                    .subtitle-action-checkbox {
                        display: flex;
                        align-self: flex-start;
                        align-items: center;
                        .text-comment {
                            flex: 1;
                            font-size: 10px;
                            color: $color-gray;
                        }
                        input {
                            margin-left: 5px;
                        }
                    }
                }
                .sidebar-item-context {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    height: 0;
                    // overflow: hidden;
                    // max-height: 0;
                    // opacity: 0;
                    // transition: all .3s ease-in;
                    z-index: -1;
                    // visibility: hidden;
                    overflow: hidden;
                    .sidebar-item-context-item {
                        display: flex;
                        align-items: center;

                        .dropdown {
                            margin-left: auto;
                            margin-right: 0;
                            margin-top: auto;
                            margin-bottom: auto;
                            padding: 0;
                            background: none;
                            border: none;
                            color: $color-primary;
                            &:hover {
                                color: darken($color: $color-primary, $amount: 20%);
                            }
                            .dropdown-menu {
                                box-shadow: #3c3c3c 0px 0px 5px 0px;
                                .dropdown-item {
                                    color: $color-primary;
                                    &:hover {
                                        color: darken($color: $color-primary, $amount: 20%);
                                    }
                                    .dropdown-item-title {
                                        font-weight: bold;
                                        display: flex;
                                        justify-content: space-between;
                                        .dropdown-item-text {
                                            flex: 1;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .device-user {
                            display: flex;
                            align-items: center;
                            flex: 1;
                            user-select: none;
                            cursor: pointer;
                            
                            .name {
                                font-size: 13px;
                                font-weight: 500;
                            }
                        }

                        &.pending {
                            .device-user{
                                .name {
                                    color: $color-gray;
                                    text-decoration: line-through;
                                }
                            }
                        }

                        &.using {
                            .device-user{
                                .name {
                                    color: $color-green;
                                    // text-decoration: line-through;
                                }
                            }
                        }

                        &.idle {
                            .device-user{
                                .name {
                                    color: $color-blue;
                                    // text-decoration: line-through;
                                }
                            }
                        }

                        .info {
                            flex: 0 0;
                            display: flex;
                            justify-content: flex-end;
                            gap: 5px;
                            min-width: fit-content;
                            .info-timer {
                                font-size: 12px;
                                .me-2 {
                                    margin-left: 0;
                                    margin-right: 2px !important;
                                }
                                .me-3 {
                                    margin-left: 0;
                                    margin-right: 3px !important;
                                }
                            }
                            .info-status {
                                color: #8d9095;
                                width: max-content;
                                display: flex;
                                gap: 3px;
                            }
                        }
                    }
                }
                &.active {
                    .subtitle {
                        margin-bottom: 15px;
                        color: $color-secondary;
                        .subtitle-action {
                            transform: rotate(90deg);
                        }
                    }
                    .sidebar-item-context {
                        // max-height: 99999px;
                        height: auto;
                        z-index: inherit;
                        // visibility: visible;
                        transition: height 0.5s ease-in-out;
                        overflow: visible;
                    }
                }
            }
        }

        @media (max-width: $breakpoint-lg) {
            display: block;
            width: 350px;
            position: fixed;
            transform: translateX(100%);
            right: 0;
            top: 0;
            padding: 1rem;
            padding-top: 120px;
            // padding-top: 80px;
            background: opacify($color: $color-light, $amount: .3);
            box-shadow: #1c1c1c 0px 0px 5px 0px;
            z-index: 100;
            height: 100vh;
            overflow-y: auto;
            transition: transform .3s ease-in-out;
            &.visible {
                transform: translateX(0);
            }
            .toggler {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .category-menu {
                top: 5px;
            }
            // .sidebar-items-container {
            //     overflow-y: auto;
            //     height: 100%;
            // }
        }
    }
}